<div id="main-wrap">

	<div id="header">

		<div id="banner">
		  <a href="#top"><img src="/img/thomasbarnett_logo.png"></a>
		</div>

		<div id="nav">
		  <ul>
		    <li><a href="#music" id="musiclink">MUSIC</a></li>
		    <li><a href="#biography" id="biographylink">BIOGRAPHY</a></li>
		    <li><a href="#video" id="videolink">VIDEO</a></li>
		    <li><a href="#news" id="newslink">NEWS</a></li>
		    <li><a href="mailto:thomas@thomasbarnette.com" class="social" id="contactlink">CONTACT</a></li>
		  </ul>
		</div>
	</div>
</div>

		<div id="slideshow">
			<div id="carousel-wrap">
				<div class="jMyCarousel">
				    <ul id="">
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer1.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_01.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer2.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_02.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer3.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_03.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer4.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_04.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer5.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_05.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer6.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_06.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer7.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_07.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer8.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_08.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer9.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_09.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer10.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_10.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer12.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_11.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_12.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_13.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer14.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_14.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer15.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_15.jpg"></a></li>
				      <li style="width:80px; height:80px;"><a href="/img/slides/Layer16.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_16.jpg"></a></li>
				    </ul>
				  </div>
				  <img src="/img/gradient.png" alt="gradient" id="gradient" width="" height="" />
				  <img src="/img/gradientr.png" alt="gradient" id="gradientr" width="" height="" />
				</div>
			</div>
	

	<div id="content">
 
     
		<div id="music">
			<h2>MUSIC</h2>
			<div id="audio" style="float: right; width: 400px; padding-left: 0; padding-right: 110px; margin-top: 195px; ">
				<%=  erb :test, :layout => false %>  
			<div class="hide" id="lyrics" style="margin-left: 40px;">
				<br />
				<table>
					<tr>
					  	<td><a href="/img/lyrics/lyrics1.png" rel="prettyPhoto[slide]" >Let Me Breathe</a></td> 
					  	<td><a href="/img/lyrics/lyrics5.png" rel="prettyPhoto[slide]">I Wanna Love</a></td>
						<td><a href="/img/lyrics/lyrics9.png" rel="prettyPhoto[slide]">Way Of The World</a></td>
				  	</tr>
				  	<tr>
				  		<td><a href="/img/lyrics/lyrics2.png" rel="prettyPhoto[slide]">Strip Me Down</a></td>
 						<td><a href="/img/lyrics/lyrics6.png" rel="prettyPhoto[slide]">Be Myself</a></td>
						<td><a href="/img/lyrics/lyrics10.png" rel="prettyPhoto[slide]">One Life</a></td>
					<tr>
						<td><a href="/img/lyrics/lyrics3.png" rel="prettyPhoto[slide]">Real Love</a></td>
					  	<td><a href="/img/lyrics/lyrics7.png" rel="prettyPhoto[slide]">Almost There</a></td>
						<td><a href="/img/lyrics/lyrics11.png" rel="prettyPhoto[slide]">Nature Boy</a></td>
					</tr>
					<tr>
						<td><a href="/img/lyrics/lyrics4.png" rel="prettyPhoto[slide]">Human</a></td>
						<td><a href="/img/lyrics/lyrics8.png" rel="prettyPhoto[slide]">Brighter</a></td>
					</tr>
				</table>
			</div>
			</div>
			
			<div id="music-album">
			  <img src="/img/CD.jpeg">
			</div>
		</div>

		<div id="biography">		  
		 <%= biography(@bio.title, @bio.article) %>	
		</div>
		

		<div id="video" name="video">
			<h2>VIDEO</h2>
			<div id="accordion">
				<% @videos = @videos.reverse %>
				<% if @videos == nil then %>
				  <p>Check back soon for videos</p>
				<% else %>
					<% @videos.each do |v| %>
						<h3>
							<a href="<%= v.link %>" rel="prettyPhoto[slide]" class="upcase">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= v.title.upcase! %><h2><%= v.created_at.display %></h2></a>
						</h3>

					<% end %>
				<% end %>
			</div>
		</div>

		<a href="#top" class="top">Back To Top</a>

		<div id="news" name="news">
			<h2>NEWS</h2>
			
			<div id="accordion">
			  <% @posts = @posts.reverse %>
			  <% @posts.each do |post| %>
			  <%= entry(post.title, post.created_at.display, post.article) %>
			  <% end %>
			</div>
		</div>
		<a href="#top" class="top">Back To Top</a>
	</div>

   <div id="footer">
     <div id="footer_slideshow">
	  <div class="jMyCarousel" >
		    <ul id="">
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer1.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_01.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer2.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_02.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer3.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_03.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer4.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_04.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer5.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_05.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer6.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_06.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer7.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_07.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer8.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_08.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer9.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_09.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer10.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_10.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer12.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_11.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_12.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_13.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer14.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_14.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer15.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_15.jpg"></a></li>
		      <li style="width:80px; height:80px;"><a href="/img/slides/Layer16.jpg" rel="prettyPhoto[slide]"><img src="/img/thumbs/ThomasMontage_16.jpg"></a></li>
		    </ul>
		  </div>  
		  <img src="/img/gradient.png" alt="gradient" id="gradientlb" width="" height="" />
		  <img src="/img/gradientr.png" alt="gradient" id="gradientrb" width="" height="" />  
		</div>

     <div id="social-media">
		<a href="http://www.myspace.com/thomasnbarnette" id="myspace" class="social" ><img src="/img/myspace.png" id="myspace" alt="myspace"  /></a>
		<a href="http://www.facebook.com/pages/Thomas-Barnette/178867345512538" id="facebook" class="social" ><img src="/img/facebook.png" id="facebook" alt="facebook" /></a>
		<a href="mailto:thomas@thomasbarnette.com" id="email" class="social">thomas@thomasbarnette.com</a> 
		<p>© 2012 ThomasBarnette.com</p>
     </div>
     
   </div>